iframe#calendar
{
	width: 96%;
	height: 80%;
	position: absolute;
    top: 88px;
    left: 2%;
}
#modal-trigger
{
    position: fixed;
    top: 15px;
    right: 2%;
    z-index: 5;
}
.modal
{
    width: 70%;
    height: 80%;
    max-height: 100%;
    top: 5% !important; 
}

.modal .row
{
    margin-top: 20px;
}

@media (min-height: 38.875em)
{
    .picker--opened .picker__frame 
    {
    top: 5%;
    bottom: auto;
    }
}

@media (min-height: 35.875em)
{
    .picker--opened .picker__frame 
    {
    top: 5%;
    bottom: 20% auto;
    }
}